<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Digitronic.Common.DiStatus" version="1.0.3" targetFramework="net472" />
  <package id="Digitronic.Common.Items" version="1.0.2" targetFramework="net472" />
  <package id="Digitronic.TokenEngine.MWrapper" version="1.0.12" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
</packages>